body{
	margin: 50;
	padding: 20;
	/*background-color: rgb(148, 88, 151)*/
	background-image: url(backk.jpg);
	background-size: cover;
}

.box{
	background-color: rgba(234,51,223,0.25);
	text-align: center;
	padding: 10px;
	width: 500px;

	margin: auto;
	margin-top: 5%
	margin-bottom: 5%;
	color: white;


}

.box-image{
	border-radius: 100%;
	width: 100px;
	height: 100px;

}

.box h1{
	font-family: 80px;
	font-size: 40px
	letter-spacing:4px;
	font-weight: 100;
}

.box h5{
	font-size: 20px;
	letter-spacing: 3px;
	font-weight: 100;
	font-family: sans-serif;
	font-size: : 50px;

}

.taz{
	text-align: left;
}

ul{
	margin: 0;
	padding: 0;
}

.box li{
	display: inline-block;
	margin: 20px;
	list-style: none;
}
